*.pyc
*.png
*.jpg
*.bmp
*.pfm
*.dat
*.npy
*.pp3
*.ipynb_checkpoints
Build/
build/
Data/
data/
*.code-workspace
Trial/NormalizedGenerator/WD/
.vscode/
*.egg
*/*.egg-info/
Correlation/build/
*.installed_files.txt
CorrelationCUDA/build/
CorrelationCUDA/dist/
Trial/SmallSizeStereo/WD/
Trial/PWCNetForStereo/WD/
Trial/PWCNetRecurrent/WD/
Trial/RecurrentStereo/WD/

